@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    box-sizing: border-box ;
}


body{
 font-family: 'Muli', sans-serif;
 background-color: rgb(0, 0, 0);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100vh;
 overflow: hidden;
 color: rgb(255, 255, 255);
 margin: 0;
}
h3{
    text-align: center;
    margin: 10px 0 20px;
}
textarea{
    display: block;
    max-width: 100%;
    margin: 20px 20px;
    padding: 10px 10px;
    font-family: inherit;
    width: 600px;
    height: 100px;
    border-radius: 6px;
    font-size: 16px;
}
textarea:focus{
    outline: none;
}
.tag{
 
    text-align: center;
    justify-content: center;
    background-color: rgb(71, 60, 196);
    color: white;
    border-radius: 20px;
    margin: 0 50px 10px 0;
    padding: 10px 20px;
    font-size: 14px;
    display: inline-block;
}

.tag.highlight{
    background-color: rgb(48, 211, 80);
}